$backgroud-color: #bbbbbb;
$border-color: #F0F0F0;
$border-secondary-color: #009688;
$selection-color: #8BC34A;
$selection-secondary-color: #FDC010;

.dropdownContainer {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    width: 100%;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff; 
      }

      /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $selection-secondary-color; 
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .dropdownHeader {
        border-color: $border-secondary-color;
        border-width: 1.2px;
        border-style: solid;
        display: flex;
        flex-direction: row;
        width: 100%;

        .dropdownHeaderIcon {
            margin-left: auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dropdownHeaderTitle { 
            padding: 2px;
        }

        .dropdownHeaderSelectedItems {
            padding: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .dropdownHeaderSelectedItem {
                background-color: $selection-color;
                border-radius: 2px;
                color: #FFFFFF;
                font-size: 12px;
                margin: 2px;
                padding: 2px;
                text-align: center;
            }
        }
    }
    .dropdownItems {
        border-color: $selection-secondary-color;
        border-width: 1.2px;
        border-style: solid;
        border-top-width: 0px;
        list-style-type: none;
        margin: 0;
        max-height: 40vh;
        padding: 0;
        overflow: auto;
        width: 100%;
        z-index: 21;

        .dropdownItem {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $border-color; 
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: $border-color; 
            padding-left: 10px;

            .dropdownItemCheckbox {
                color: $selection-secondary-color;
                float: right;
                padding: 5px;
            }
        }
        .dropdownItem:hover {
            color: #FFFFFF;
            background-color: $selection-color;
        }
    }
}